---
import { getCollection } from "astro:content";
import CategoryCard from "@/components/CategoryCard.astro";
import CategoryFilter from "@/components/CategoryFilter.astro";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/lib/constants";
import { fetchPosts } from "@/lib/queries";

export const prerender = true;

export async function getStaticPaths() {
  const blogEntries = await getCollection("categories");
  return blogEntries
    .filter(
      (entry) => entry.data.slug !== "legal" && entry.data.slug !== "changelog"
    )
    .map((entry) => ({
      params: { slug: entry.data.slug },
      props: { entry },
    }));
}

const { entry } = Astro.props;

const categoriesEntries = await getCollection("categories");
const postsResponse = await fetchPosts(`?categories=${entry.data.slug}`);
const fillers = Array.from({ length: (3 - (postsResponse.posts.length % 3)) % 3 });
---
<Layout
  title={`${entry.data.name} - ${SITE.TITLE}`}
  description={entry.data.description}
  canonical="/blog"
>
  <section class="lg:border-y border-dashed min-h-[calc(100vh-140px)]">
    <div
      class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto h-full"
    >
      <Container class="py-20 lg:py-24 h-full">
        <div class="mb-16 flex flex-col items-start gap-4 md:flex-row md:items-end md:justify-between">
          <div class="space-y-4">
            <h1
              class="text-2xl tracking-tight md:text-3xl lg:text-4xl font-medium"
            >
              Blog
            </h1>
            <p class="max-w-prose md:text-lg text-muted-foreground">
              {entry.data.description || "Updates, news, and guides from the team."}
            </p>
          </div>
          <div class="w-full md:w-auto">
             <CategoryFilter categories={categoriesEntries}/>
          </div>
        </div>
        {postsResponse.posts.length > 0 ? (
          <ul class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 border-t border-l border-dashed'>
            {
              postsResponse.posts.map((post) => (
                <CategoryCard entry={post} />
              ))
            }
            {fillers.map(() => (
              <li class="border-b border-r border-dashed bg-white hidden md:block h-full" />
            ))}
          </ul>
        ) : (
          <p class='text-muted-foreground text-center text-sm md:text-base'>No posts found</p>
        )}
      </Container>
    </div>
  </section>
</Layout>
