---
  import { Image } from "astro:assets";
  import type { CollectionEntry } from "astro:content";

  interface Props {
    entry: CollectionEntry<"changelog">;
  }

  const { entry } = Astro.props as Props;
  const { title, coverImage, publishedAt, authors, slug, tags } = entry.data;

  const formattedDate = new Date(publishedAt).toLocaleDateString("en-US", {
    day: "2-digit",
    month: "long",
    year: "numeric",
  });
---
<li>
  <a
    href={`/changelog/${slug}`}
    class="flex flex-col h-full bg-white border border-dashed rounded-2xl p-1.5 hover:shadow-xs transition-all duration-300 group"
  >
    <div class="w-full aspect-video overflow-hidden rounded-xl bg-gray-50">
      {coverImage && (
        <Image
          src={coverImage}
           alt={title}
           loading="eager"
          inferSize
          class='w-full h-full object-cover group-hover:scale-105 transition-transform duration-500'
        />
      )}
    </div>
    <div class="flex flex-col gap-4 px-3 py-4 flex-1">
      <div class="space-y-2">
        <h2 class="text-xl font-medium leading-snug">{title}</h2>
        <!-- <p class='text-muted-foreground text-sm line-clamp-2'>{description}</p> -->
      </div>
      <div class="flex items-center flex-wrap gap-3 justify-between mt-auto">
        <div class="flex items-center gap-2">
          <div class="flex items-center gap-2">
            <Image
              src={authors[0].image || "/og-blog.jpg"}
              alt={authors[0].name}
              class="size-6 rounded-full ring-1 ring-border"
              inferSize
            />
            <p class="text-muted-foreground sr-only text-xs font-medium">
              {authors[0].name}
            </p>
          </div>
          <span class="h-3 w-px bg-border shrink-0"></span>
          <time
            datetime={publishedAt.toString()}
            class="text-muted-foreground text-xs font-medium"
          >
            {formattedDate}
          </time>
        </div>

        <div class="flex items-center gap-2">
          {tags.map((tag) => (
            <span class="text-muted-foreground text-xs bg-secondary px-2 py-0.5 rounded-md border border-transparent group-hover:border-border transition-colors">
              #
              {tag.name}
            </span>
          ))}
        </div>
      </div>
    </div>
  </a>
</li>
