---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props as Props;
const { title, description, cover, published, author, tags, slug } = entry.data;

const formattedDate = new Date(published).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li>
  <a
    href={`/blog/${slug}`}
    class='space-y-1 p-4 border border-transparent hover:border-border border-dashed hover:bg-white transition duration-300 flex gap-6 flex-col md:flex-row md:gap-14 items-center'
  >
    <div class="w-full">
      <Image
        src={cover.src}
        alt={cover.alt}
        class='w-full object-cover'
      />
    </div>
    <div class="flex flex-col gap-4">
      <time datetime={published.toString()} class="text-muted-foreground text-sm hidden md:block">{formattedDate}</time>
      <div class="space-y-2">
        <h2 class='text-2xl font-serif'>{title}</h2>
        <p class='text-muted-foreground font-mono text-sm'>{description}</p>
      </div>
      <div class="flex justify-between w-full">
        <div class="flex items-center gap-2">
          <Image
            src="https://github.com/taqh.png"
            alt="Taqib's github profile picture"
            width={32}
            height={32}
            class='size-8 rounded-full'
          />
          <p class="text-muted-foreground text-sm">
            {author}
          </p>
        </div>
        <!-- <a href={`/blog/${slug}`} class='hover:underline flex items-center gap-2'>
          <span>Read post</span>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-3'
            >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25'></path>
          </svg>
        </a> -->
      </div>
    </div>
  </a>
</li>