---
import { getCollection, render } from "astro:content";
import Container from "@/components/Container.astro";
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";
export const prerender = true;

export async function getStaticPaths() {
  const projectEntries = await getCollection("blog");
  return projectEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const formattedDate = new Date(entry.data.published).toLocaleDateString(
  "en-US",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  },
);
---

<Layout
  title={`marble - ${entry.data.title}`}
  description={entry.data.description}
>
  <Container>
    <div
      class='sm:px-2 bg-background min-h-[calc(100vh-88px)] sm:min-h-[calc(100vh-103px)] lg:min-h-[calc(100vh-120px)] md:py-20 py-10 md:pb-24'
    >
      <section class='max-w-3xl mx-auto mb-10 space-y-6'>
        <div class='space-y-4 text-center'>
          <h1 class='font-semibold text-3xl leading-loose max-w-[60ch] mx-auto text-balance'>
            {entry.data.title}
          </h1>
          <time datetime={entry.data.published} class="text-muted-foreground font-medium">Publised on {formattedDate}</time>
        </div>
      </section>

      <Prose>
        <Content />
      </Prose>
    </div>
  </Container>
</Layout>
