---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
const articles = await getCollection("blog");
---

<Layout title={"Blog"} description={`bits and pieces about marble, and efficient content publishing.`}>
  <Container class='border-t border-dashed mb-14'>
    <section class='py-20 sm:border-x sm:border-dashed sm:bg-background min-h-[calc(100vh-88px)] sm:min-h-[calc(100vh-103px)] lg:min-h-[calc(100vh-120px)]'>
      <div class='max-w-2xl mx-auto mb-10 space-y-2'>
        <h1 class='font-medium text-2xl leading-[1.1] sm:text-3xl md:text-4xl italic text-center'>
          The marble blog.
        </h1>
        <p class='text-muted-foreground text-center'>Bits and pieces about marble and efficient content publishing.</p>
      </div>
      <ul class='flex flex-col gap-6 max-w-2xl mx-auto'>
        {
          articles.map((article) => (
            <li>
              <a
                href={`/blog/${article.id}`}
                class='space-y-1 p-4 rounded-lg hover:bg-muted transition duration-300 flex gap-4'
              >
                <div class="w-full  ">
                  <Image
                    class='w-[240px] object-cover rounded-sm'
                    src={article.data.cover.src}
                    alt={article.data.cover.alt}
                  />
                </div>
                <div>
                  <h2 class='font-semibold tracking-wide text-lg'>{article.data.title}</h2>
                  <p class='text-muted-foreground font-mono text-sm'>{article.data.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</Layout>
