---
import { Image } from "astro:assets";
import ApiIcon from "@/assets/images/api.svg";
import editorBubble from "@/assets/images/bubble.png";
import editorImage from "@/assets/images/editor.png";
import intelImage from "@/assets/images/readability.png";
import Container from "@/components/Container.astro";
import CollabIcon from "@/components/icons/Collab.astro";
import MediaManagement from "@/components/icons/Media.astro";
import AccordionItem from "@/components/ui/AccordionItem.astro";
import Layout from "@/layouts/Layout.astro";
import { FAQs, PRICING, SITE, USERS } from "@/lib/constants";
import { cn } from "@/lib/utils";
---
<Layout
  title={`${SITE.TITLE} - Super Simple Headless CMS`}
  description={SITE.DESCRIPTION}
>
  <div class="divide-y divide-dashed">
    <!-- Hero section -->
    <section class="border-t border-dashed">
      <div
        class="lg:border-x border-dashed md:w-[calc(100%-140px)] grid place-content-center h-full mx-auto"
      >
        <Container class="py-24 md:py-28 lg:py-40">
          <div class="relative mx-auto text-center space-y-6">
            <h1
              class="relative text-4xl md:text-5xl max-w-[25ch] mx-auto lg:text-6xl"
            >
              Simple content management for modern apps
            </h1>
            <p class="mx-auto max-w-[50ch] md:text-lg text-muted-foreground">
              A clean, collaborative way to publish articles, changelogs, and
              product updates to your site
            </p>
          </div>
          <div class="mt-8 flex w-full items-center justify-center">
            <div>
              <a
                href={SITE.APP_URL}
                target="_blank"
                class="flex gap-2 justify-center font-medium group w-48 bg-primary text-primary-foreground items-center py-3 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary focus-visible:ring-2 transition-all duration-300 ease-out px-4 group rounded"
              >
                <span>Publish your first post</span>
              </a>
            </div>
          </div>
          <div
            class="bg-gray-50/80 p-1 rounded-xl backdrop-blur-md border mt-14 md:mt-24 lg:mt-28"
          >
            <div class="border overflow-hidden rounded-[8px]">
              <Image
                src={editorImage}
                alt="An preview of the Marble editor featuring a post in the editor and metadata in the sidebar"
                loading="eager"
                inferSize
                class="object-cover"
              />
            </div>
          </div>
        </Container>
      </div>
    </section>

    <!--  Social Proof -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="space-y-10 py-12">
          <div
            class="relative flex flex-col items-center space-y-3 text-balance"
          >
            <h2
              class="relative text-center text-balance text-2xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
            >
              Trusted by
            </h2>
          </div>
          <ul class="flex flex-wrap justify-center gap-4">
            {USERS.map((user) => (
              <li class="flex items-center justify-center min-w-[14rem] p-6">
                <a href={user.url + "?utm_source=marble"} target="_blank" class={cn(user.showWordmark && "flex items-center gap-2")}>
                  <user.component />
                  {user.showWordmark && (
                    <span class="text-xl font-medium">{user.name}</span>
                  )}
                  {!user.showWordmark && (
                    <span class="text-xl font-medium sr-only">{user.name}</span>
                  )}
                </a>
              </li>
            ))}
          </ul>
        </Container>
      </div>
    </section>

    <!-- Features section -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="space-y-10 lg:space-y-14 pt-12 pb-20">
          <div
            class="relative flex flex-col items-center space-y-3 text-balance"
          >
            <h2
              class="relative text-center text-balance text-acc text-2xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
            >
              Features
            </h2>
            <p class="max-w-prose md:text-lg text-muted-foreground text-center">
              Everything you need to manage your content.
            </p>
          </div>
          <div
            class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-12 auto-rows-fr"
          >
            <!-- Media Management - 7 columns -->
            <div
              class="sm:col-span-2 lg:col-span-7 border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl min-h-64"
            >
              <div
                class="border relative overflow-x-hidden flex justify-between rounded-[8px] bg-white h-full w-full p-6"
              >
                <div class="space-y-2 self-end z-10 max-w-[60%]">
                  <h3 class="font-medium text-lg lg:text-xl">
                    Media Management
                  </h3>
                  <p class="text-muted-foreground text-sm lg:text-base">
                    Upload, organize, and manage all your images and files in one place.
                  </p>
                </div>
                <div class="w-[300px] max-w-[50%] h-fit -mr-6 absolute right-0">
                  <MediaManagement />
                </div>
              </div>
            </div>

            <!-- Simple Editor - 5 columns -->
            <div
              class="lg:col-span-5 border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl min-h-64"
            >
              <div
                class="border flex flex-col justify-between rounded-[8px] bg-white h-full w-full p-6"
              >
              <div>
                  <Image
                    src={editorBubble}
                    alt=""
                    class="w-full h-full object-cover"
                  />
                </div>
                
                <div class="space-y-2">
                  <h3 class="font-medium text-lg">Simple Editor</h3>
                  <p class="text-muted-foreground text-sm">
                    Write and format content easily with an intuitive interface.
                  </p>
                </div>
              </div>
            </div>

            <!-- Content Intelligence - 5 columns -->
            <div
              class="lg:col-span-5 border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl min-h-64"
            >
              <div
                class="border flex flex-col justify-between rounded-[8px] bg-white h-full w-full p-6"
              >
                <div>
                  <Image
                    src={intelImage}
                    alt=""
                    class="w-full h-full object-cover"
                  />
                </div>
                <div class="space-y-2">
                  <h3 class="font-medium text-lg lg:text-xl">
                    Content Intelligence
                  </h3>
                  <p class="text-muted-foreground text-sm">
                    Real-time readability scores, and optimization tips.
                  </p>
                </div>
              </div>
            </div>

            <!-- Team Collaboration - 7 columns -->
            <div
              class="sm:col-span-2 lg:col-span-7 border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl min-h-64"
            
              >
              <div
                class="border flex justify-between rounded-[8px] overflow-hidden bg-white h-full w-full p-6"
              >
                <div class="space-y-2 self-end max-w-[60%]">
                  <h3 class="font-medium text-lg">Team Collaboration</h3>
                  <p class="text-muted-foreground text-sm">
                    Work together efficiently with shared workspaces.
                  </p>
                </div>
                <div class="w-[250px] max-w-[40%] shrink-0">
                  <CollabIcon />
                </div>
              </div>
            </div>


            <!-- API Integration - Full width -->
            <div
              class="sm:col-span-2 lg:col-span-12 border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl min-h-64"
            >
              <div
                class="border flex justify-between rounded-[8px] bg-white h-full w-full p-6 relative"
              >
                <div class="w-[250px] max-w-[40%] h-fit -mr-6 absolute right-6 border-t border-l">
                  <ApiIcon />
                </div>
                <div class="space-y-2 self-end max-w-[60%]">
                  <h3 class="font-medium text-lg lg:text-xl">
                    API Integration
                  </h3>
                  <p class="text-muted-foreground text-sm">
                    Pull content via API into any framework. Works seamlessly
                    with Next.js, Astro, Nuxt, and more.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </Container>
      </div>
    </section>

    <!-- Pricing section -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="space-y-10 lg:space-y-14 pt-12 pb-20">
          <div class="relative flex flex-col items-center space-y-4">
            <h2
              class="relative text-center text-balance text-2xl sm:text-xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
            >
              Simple Pricing
            </h2>
            <p class="max-w-prose md:text-lg text-muted-foreground text-center">
              Choose a plan that fits your needs. Start with a 7 day free trial.
            </p>
          </div>
          <!-- <ul class="grid gap-5 lg:gap-10 sm:grid-cols-2 lg:grid-cols-3"> -->
          <ul
            class="flex flex-col items-center md:items-stretch justify-center gap-5 md:flex-row"
          >
            {PRICING.map((plan, index) => (
                <li class={cn("border min-w-[300px] w-full max-w-[350px] bg-gray-50/80 backdrop-blur-md p-1 rounded-xl", index === 2 && 'sm:col-span-2 lg:col-span-1 sm:h-fit')}>
                  <div class={cn("border flex flex-col gap-5 rounded-[8px] bg-white w-full px-4 py-6", index === 2 ? 'sm:flex-row sm:px-14 sm:py-10 lg:py-6 sm:justify-center sm:gap-20 lg:gap-4 lg:px-4 lg:flex-col min-h-96 sm:min-h-fit lg:min-h-96' : 'min-h-96 h-full')}>
                    {index === 2 ? (
                      <>
                        <div class="flex flex-col gap-5 sm:min-w-60 lg:min-w-0">
                          <div class="flex flex-col gap-4">
                            <div class="flex items-center justify-between">
                              <h3 class="text-medium text-xl">{plan.title}</h3>
                              {plan.trial && (
                                <span class="text-xs font-medium text-emerald-700 bg-emerald-50 border border-dashed border-emerald-200 px-2 py-1 rounded-md">
                                  {plan.trial}
                                </span>
                              )}
                            </div>
                            <div>
                              <p><span class="font-bold text-2xl">{plan.price.monthly}</span>{' '}<span>per month.</span></p>
                              <p class="text-muted-foreground text-sm">{plan.description}</p>
                            </div>
                          </div>
                          <div class="border-y border-dashed py-4">
                            <a 
                              href={plan.button.href}
                              target="_blank"
                              class="flex bg-primary gap-2 group text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto rounded"
                            >
                              <span>{plan.button.label}</span>
                            </a>
                          </div>
                        </div>
                        <ul class="flex flex-col gap-2 text-sm">
                          {plan.features.map((feature) => (
                            <li class="flex items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                              </svg>
                              <span>{feature}</span>
                            </li>
                          ))}
                        </ul>
                      </>
                    ) : (
                      <>
                        <div class="flex flex-col gap-4">
                          <div class="flex items-center justify-between">
                            <h3 class="text-medium text-2xl">{plan.title}</h3>
                            {plan.trial && (
                              <span class="text-xs font-medium text-emerald-700 bg-emerald-50 border border-dashed border-emerald-200 px-2 py-1 rounded-md">
                                {plan.trial}
                              </span>
                            )}
                          </div>
                          <div>
                            <p><span class="font-bold text-2xl">{plan.price.monthly}</span>{' '}<span>per month.</span></p>
                            <p class="text-muted-foreground text-sm">{plan.description}</p>
                          </div>
                        </div>
                        <div class="border-y border-dashed py-4">
                          <a 
                            href={plan.button.href}
                            target="_blank"
                            class="flex bg-primary gap-2 group text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto rounded"
                          >
                            <span>{plan.button.label}</span>
                          </a>
                        </div>
                        <ul class="flex flex-col gap-2 text-sm">
                          {plan.features.map((feature) => (
                            <li class="flex items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                              </svg>
                              <span>{feature}</span>
                            </li>
                          ))}
                        </ul>
                      </>
                    )}
                  </div>
                </li>
              ))}
          </ul>
        </Container>
      </div>
    </section>

    <!-- FAQ -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="space-y-10 lg:space-y-14 pt-12 pb-20">
          <div class="relative flex flex-col items-center space-y-4">
            <h2
              class="relative text-center text-balance text-2xl sm:text-xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
            >
              Frequently Asked Questions
            </h2>
            <p class="max-w-prose md:text-lg text-muted-foreground text-center">
              Answers to common questions about marblecms.
            </p>
          </div>

          <div
            class="mx-auto max-w-3xl bg-white rounded-md relative border py-2 px-6 divide-y"
          >
            {FAQs.map(faq => (
            <AccordionItem name="details" title={faq.question}>
              <p class="text-sm faq-answer" set:html={faq.answer} />
            </AccordionItem>
          ))}
          </div>
        </Container>
      </div>
    </section>

    <!-- CTA -->
    <section class="border-b border-dashed">
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="space-y-10 lg:space-y-14 pt-12 lg:pt-20 pb-20">
          <div
            class="min-h-96 lg:min-h-[500px] grid place-content-center bg-white rounded-md relative border px-4"
          >
            <div class="space-y-2">
              <h2
                class="relative text-center text-balance text-2xl sm:text-2xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
              >
                Ready to start writing?
              </h2>
              <p class="lg:text-lg text-muted-foreground text-center max-w-lg">
                Create your account and start publishing in minutes.
              </p>
            </div>
            <div class="flex flex-col gap-3 items-center mt-8">
              <a
                href={`${SITE.APP_URL}/register`}
                class="flex gap-2 justify-center group w-48 bg-primary text-primary-foreground items-center py-3 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary focus-visible:ring-2 transition-all duration-300 ease-out px-6 group rounded font-medium"
              >
                <span>Start for free</span>
              </a>
              <p class="text-xs text-muted-foreground">
                No credit card required
              </p>
            </div>
          </div>
        </Container>
      </div>
    </section>
  </div>
</Layout>
