---
import Container from "@/components/Container.astro";
import AccordionItem from "@/components/ui/AccordionItem.astro";
import Layout from "@/layouts/Layout.astro";
import { APP, SITE } from "@/lib/constants";
---

<Layout 
	title={SITE.TITLE}
	description={SITE.DESCRIPTION}
>
<div class="divide-y divide-dashed">
	<!-- Hero section -->
	<section class="grid place-items-center border-t border-dashed">
		<Container class="lg:border-x border-dashed py-24 md:py-28 lg:py-40">
			<div class="relative mx-auto text-center space-y-6">
				<h1 class="relative text-4xl font-medium md:text-5xl max-w-[25ch] mx-auto lg:text-[50px]">
					The smarter way to manage your blog
				</h1>
				<p class="mx-auto max-w-[50ch] md:text-lg text-muted-foreground">
					Everything you need, nothing you don’t. Just easy, efficient content management.
				</p>
			</div>
			<div class="mt-8 flex w-full items-center justify-center">
				<div>
					<a href={`${APP.URL}`}
						target="_blank"
						class="flex gap-2 justify-center group w-48 bg-primary text-primary-foreground items-center py-2.5 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary focus-visible:ring-2 transition-all duration-300 ease-out px-4 group"
					>
						<span>Get started</span>
					</a>
				</div>
			</div>
		</Container>
	</section>

	<!--  Social Proof -->
	<!-- <section class="">
		<Container class="space-y-10 lg:border-x border-dashed pt-12 pb-20">
			<div class="relative flex flex-col items-center space-y-3 text-balance">
				<h2 class="relative text-center text-balance text-2xl font-medium tracking-tight max-w-4xl">
					Used by a few guys.
				</h2>
				<p class="max-w-prose text-muted-foreground text-center">
					These people love our product enough to use it.
				</p>
			</div>
			<ul class="grid grid-cols-[repeat(auto-fill,_minmax(16rem,_1fr))] divide-dashed divide-y divide-x divide-red-600 border border-dashed border-red-600">
				<li class="p-8">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1103 386"><path fill="#000000" d="M416.473 0 198.54 385.66H0L170.17 84.522C196.549 37.842 262.377 0 317.203 0Zm486.875 96.415c0-53.249 44.444-96.415 99.27-96.415 54.826 0 99.27 43.166 99.27 96.415 0 53.248-44.444 96.415-99.27 96.415-54.826 0-99.27-43.167-99.27-96.415ZM453.699 0h198.54L434.306 385.66h-198.54Zm234.492 0h198.542L716.56 301.138c-26.378 46.68-92.207 84.522-147.032 84.522h-99.27Z"/></svg>
				</li>
				<li class="p-8">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1103 386"><path fill="#000000" d="M416.473 0 198.54 385.66H0L170.17 84.522C196.549 37.842 262.377 0 317.203 0Zm486.875 96.415c0-53.249 44.444-96.415 99.27-96.415 54.826 0 99.27 43.166 99.27 96.415 0 53.248-44.444 96.415-99.27 96.415-54.826 0-99.27-43.167-99.27-96.415ZM453.699 0h198.54L434.306 385.66h-198.54Zm234.492 0h198.542L716.56 301.138c-26.378 46.68-92.207 84.522-147.032 84.522h-99.27Z"/></svg>
				</li>
				<li class="p-8">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1103 386"><path fill="#000000" d="M416.473 0 198.54 385.66H0L170.17 84.522C196.549 37.842 262.377 0 317.203 0Zm486.875 96.415c0-53.249 44.444-96.415 99.27-96.415 54.826 0 99.27 43.166 99.27 96.415 0 53.248-44.444 96.415-99.27 96.415-54.826 0-99.27-43.167-99.27-96.415ZM453.699 0h198.54L434.306 385.66h-198.54Zm234.492 0h198.542L716.56 301.138c-26.378 46.68-92.207 84.522-147.032 84.522h-99.27Z"/></svg>
				</li>
				<li class="p-8">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1103 386"><path fill="#000000" d="M416.473 0 198.54 385.66H0L170.17 84.522C196.549 37.842 262.377 0 317.203 0Zm486.875 96.415c0-53.249 44.444-96.415 99.27-96.415 54.826 0 99.27 43.166 99.27 96.415 0 53.248-44.444 96.415-99.27 96.415-54.826 0-99.27-43.167-99.27-96.415ZM453.699 0h198.54L434.306 385.66h-198.54Zm234.492 0h198.542L716.56 301.138c-26.378 46.68-92.207 84.522-147.032 84.522h-99.27Z"/></svg>
				</li>
				<li class="p-8">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1103 386"><path fill="#000000" d="M416.473 0 198.54 385.66H0L170.17 84.522C196.549 37.842 262.377 0 317.203 0Zm486.875 96.415c0-53.249 44.444-96.415 99.27-96.415 54.826 0 99.27 43.166 99.27 96.415 0 53.248-44.444 96.415-99.27 96.415-54.826 0-99.27-43.167-99.27-96.415ZM453.699 0h198.54L434.306 385.66h-198.54Zm234.492 0h198.542L716.56 301.138c-26.378 46.68-92.207 84.522-147.032 84.522h-99.27Z"/></svg>
				</li>
				<li class="p-8">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1103 386"><path fill="#000000" d="M416.473 0 198.54 385.66H0L170.17 84.522C196.549 37.842 262.377 0 317.203 0Zm486.875 96.415c0-53.249 44.444-96.415 99.27-96.415 54.826 0 99.27 43.166 99.27 96.415 0 53.248-44.444 96.415-99.27 96.415-54.826 0-99.27-43.167-99.27-96.415ZM453.699 0h198.54L434.306 385.66h-198.54Zm234.492 0h198.542L716.56 301.138c-26.378 46.68-92.207 84.522-147.032 84.522h-99.27Z"/></svg>
				</li>
			</ul>
		</Container>
	</section> -->

	<!-- Features section -->
	<section>
		<Container class="space-y-10 lg:space-y-14 pt-12 pb-20 md:border-x border-dashed">
			<div class="relative flex flex-col items-center space-y-3 text-balance">
				<h2 class="relative text-center text-balance text-2xl font-medium tracking-tight md:text-3xl lg:text-4xl max-w-4xl">
					Features.
				</h2>
				<p class="max-w-prose md:text-lg text-muted-foreground text-center">
					We’ve got everything you need to manage your blog, without the bloat.
				</p>
			</div>
			<ul class="grid gap-5 lg:gap-10 sm:grid-cols-2">
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full p-8">
						<div class="space-y-1">
							<h3 class="font-medium text-lg">
								Simple, editor
							</h3>
							<p class="text-muted-foreground text-sm md:text-base">
								Our editor is designed to be simple and intuitive, so you can focus on writing.
							</p>
						</div>
						<div class="lg:px-8">
							<div class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
								<div class="bg-white min-h-52 border rounded-[8px] p-4">
									<div class="flex flex-col gap-5">
										XXX
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full p-8">
						<div class="space-y-1">
							<h3 class="font-medium text-lg">
								Collaboration
							</h3>
							<p class="text-muted-foreground text-sm md:text-base">
								Invite your team members to collaborate on your blog, with granular permissions.
							</p>
						</div>
						<div class="lg:px-8">
							<div class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
								<div class="bg-white min-h-52 border rounded-[8px] p-4">
									<div class="flex flex-col gap-5">
										XXX
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full p-8">
						<div class="space-y-1">
							<h3 class="font-medium text-lg">
								Easy Integeration
							</h3>
							<p class="text-muted-foreground text-sm md:text-base">
								Pull in content from our api into your website using your favourite frameworks.
							</p>
						</div>
						<div class="lg:px-8">
							<div class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
								<div class="bg-white min-h-52 border rounded-[8px] p-4">
									<div class="flex flex-col gap-5">
										XXX
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full p-8">
						<div class="space-y-1">
							<h3 class="font-medium text-lg">
								Webhooks
							</h3>
							<p class="text-muted-foreground text-sm md:text-base">
								Perform actions on your server when certain events occur in your workspace.
							</p>
						</div>
						<div class="lg:px-8">
							<div class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
								<div class="bg-white min-h-52 border rounded-[8px] p-4">
									<div class="flex flex-col gap-5">
										XXX
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</Container>
	</section>

	<!-- Pricing section -->
	<section class="">
		<Container class="space-y-10 lg:space-y-14 pt-12 pb-20 lg:border-x border-dashed">
			<div class="relative flex flex-col items-center space-y-4">
				<h2 class="relative text-center text-balance text-2xl sm:text-xl font-medium tracking-tight md:text-3xl lg:text-4xl max-w-4xl">
					Simple Pricing.
				</h2>
				<p class="max-w-prose md:text-lg text-muted-foreground text-center">
				  Choose a plan that fits your needs.
				</p>
			</div>
			<ul class="grid gap-5 lg:gap-10 sm:grid-cols-2 lg:grid-cols-3">
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full px-4 py-6">
						<div class="flex flex-col gap-4">
							<h4 class="text-medium text-2xl">Hobby</h4>
							<div class="">
								<p><span class="font-bold text-2xl">$0</span>{' '}<span>per month.</span></p>
								<p class="text-muted-foreground text-sm">For solo individuals</p>
							</div>
						</div>
						<div class="border-y border-dashed py-4">
							<a 
								href={`${APP.URL}`}
								target="_blank"
								class="flex bg-primary gap-2 group text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto rounded"
								>
								<span>Start for free</span>
							</a>
						</div>
						<!-- Plan perks -->
						<ul class="flex flex-col gap-2 text-sm">
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Single workspace.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited posts.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Limited media storage.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Up to 3 team members.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>10k API requests per month.</span>
							</li>
						</ul>
					</div>
				</li>
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full px-4 py-6">
						<!-- plan name and price -->
						<div class="flex flex-col gap-4">
							<h4 class="text-medium text-2xl">Starter</h4>
							<div class="">
								<p><span class="font-bold text-2xl">$0</span>{' '}<span>per month.</span></p>
								<p class="text-muted-foreground text-sm">For small teams</p>
							</div>
						</div>
						<div class="border-y border-dashed py-4">
							<a 
								href={`${APP.URL}`}
								target="_blank"
								class="flex bg-primary gap-2 group text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto rounded"
							>
								<span>Get Starter</span>
							</a>
						</div>
						<!-- Plan perks -->
						<ul class="flex flex-col gap-2 text-sm">
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Up to 5 workspaces.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited posts.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Limited media storage.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>10 Members per workspace</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>50k API requests per month.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>50 Webhook events per month.</span>
							</li>
						</ul>
					</div>
				</li>
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl sm:col-span-2 lg:col-span-1 sm:h-fit">
					<div class="border flex flex-col sm:flex-row sm:px-14 sm:py-10 lg:py-6 sm:justify-center sm:gap-20 lg:gap-4 lg:px-4 lg:flex-col gap-5 rounded-[8px] bg-white min-h-96 sm:min-h-fit lg:min-h-96 w-full px-4 py-6">
						<!-- plan name and price -->
						 <div class="flex flex-col gap-5 sm:min-w-60 lg:min-w-0">
							 <div class="flex flex-col gap-4">
								 <h4 class="text-medium text-xl text-medium">Pro</h4>
								 <div class="">
									 <p><span class="font-bold text-2xl">$0</span>{' '}<span>per month.</span></p>
									 <p class="text-muted-foreground text-sm">For growing businesses</p>
								 </div>
							 </div>
							 <div class="border-y border-dashed py-4">
								 <a 
									 href={`${APP.URL}`}
									 target="_blank"
									 class="flex bg-primary gap-2 group text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto rounded"
									 >
									 <span>Get Pro</span>
								 </a>
							 </div>
							</div>	
						<!-- perks -->
						<ul class="flex flex-col gap-2 text-sm">
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited workspaces.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited posts.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited media storage.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>20 members per workspace</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited API requests.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>100 Webhook events per month.</span>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</Container>
	</section>

	<!-- FAQ -->
	<section class="">
		<Container class="space-y-10 lg:space-y-14 pt-12 pb-20 lg:border-x border-dashed">
			<div class="relative flex flex-col items-center space-y-4">
				<h2 class="relative text-center text-balance text-2xl sm:text-xl font-medium tracking-tight md:text-3xl lg:text-4xl max-w-4xl">
					FAQ's.
				</h2>
				<p class="max-w-prose md:text-lg text-muted-foreground text-center">
				  Answers to common questions about marblecms.
				</p>
			</div>
			
			<div class="mx-auto max-w-2xl bg-white rounded-md relative border py-2 px-6 divide-y">
				<AccordionItem name="details" title="Is marblecms free?">
					<p class="text-sm">
						Yes, marblecms is free to use with generous limits on all core features. We also offer paid plans for teams needing higher limits and advanced features.
					</p>
				</AccordionItem>
					<AccordionItem name="details" title="How does marblecms work?">
						<p class="text-sm">
							Marblecms is a headless CMS that provides content management through a simple API. You can create, edit and manage content through our dashboard, then fetch it via our API to display on your website or app.
						</p>
					</AccordionItem>
					<AccordionItem name="details" title="Do I need technical knowledge to use marblecms?">
						<p class="text-sm">
							No technical knowledge is required to use our content management dashboard. However, to integrate the API with your website, basic development experience is helpful. We provide detailed <a href='https://docs.marblecms.com' target="_blank" class="font-medium underline">documentation</a>  and templates to make integration easy.
						</p>
					</AccordionItem>
					<AccordionItem name="details" title="What kind of content can I manage?">
						<p class="text-sm">
							Marblecms is primarily focused on managing blog posts, articles, and static pages. We support rich text, images, and videos to help you create engaging content for your blog or documentation site.
						</p>
					</AccordionItem>
					<AccordionItem name="details" title="Is there a limit on API requests?">
						<p class="text-sm">
							Free accounts include generous API request limits that cover typical usage patterns. For optimal performance, we recommend using SSR frameworks or static site generators like Next.js that can cache pages at build time to minimize API requests. Check our <a href="https://docs.marblecms.com" target="_blank" class="font-medium underline">optimization guide</a> for more details.
						</p>
					</AccordionItem>
					<AccordionItem name="details" title="Can I export my content?">
						<p class="text-sm">
							Yes, you can export all your content at any time in common formats like JSON.
						</p>
					</AccordionItem>
			</div>
		</Container>
	</section>

	<!-- CTA -->
	<section class="lg:border-b border-dashed">
		<Container class="space-y-10 lg:space-y-14 pt-12 lg:pt-20 pb-20 lg:border-x border-dashed">
			<div class="min-h-96 lg:min-h-[500px] grid place-content-center bg-white rounded-md relative border px-4">
				<div class="relative flex flex-col items-center space-y-4 text-balance">
					<h2 class="relative text-center text-balance text-2xl sm:text-2xl font-medium tracking-tight md:text-3xl lg:text-4xl max-w-4xl">
						The easiest way to manage your blog.
					</h2>
					<p class="lg:text-lg text-muted-foreground text-center max-w-96">
						Get started today and experience hassle free content management.
					</p>
					<div>
					<a href={`${APP.URL}/register`}
						class="flex gap-2 justify-center group w-48 bg-primary text-primary-foreground items-center py-2.5 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary focus-visible:ring-2 transition-all duration-300 ease-out px-4 group mt-5"
					>
						<span>Get started free</span>
					</a>
					</div>
					</div>
			</div>
		</Container>
	</section>
</div>
</Layout>
