---
import { Image } from "astro:assets";
import { YOUTUBE_VIDEO_ID } from "@marble/utils";
import heroImage from "@/assets/images/hero.png";
import Container from "@/components/Container.astro";
import Pricing from "@/components/sections/Pricing.astro";
import AccordionItem from "@/components/ui/AccordionItem.astro";
import Button from "@/components/ui/Button.astro";
import Layout from "@/layouts/Layout.astro";
import { FAQs } from "@/lib/constants/faqs";
import { FEATURES, REVIEWS, USERS } from "@/lib/constants/landing";
import { SITE } from "@/lib/constants/site";
import { HERO } from "@/lib/site";
import { cn } from "@/lib/utils";

const YOUTUBE_WATCH_URL = `https://www.youtube.com/watch?v=${YOUTUBE_VIDEO_ID}`;
---

<Layout
  title={`${SITE.TITLE} - Super Simple Headless CMS`}
  description={SITE.DESCRIPTION}
>
  <div class="divide-y divide-dashed">
    <!-- Hero section -->
    <section class="border-t border-dashed">
      <div
        class="lg:border-x border-dashed md:w-[calc(100%-140px)] flex flex-col justify-center h-full mx-auto"
      >
        <Container
          class="py-24 md:py-28 w-full lg:py-36 flex flex-col gap-14 md:gap-28"
        >
          <div class="flex flex-col gap-8">
            <div class="relative mx-auto text-center flex flex-col gap-6">
              <h1
                class="relative text-4xl md:text-5xl max-w-[25ch] font-medium mx-auto tracking-tight"
              >
                {HERO.title}
              </h1>
              <p class="mx-auto max-w-[50ch] md:text-lg text-muted-foreground">
                {HERO.subtitle}
              </p>
            </div>
            <div
              class="flex flex-col sm:flex-row w-full items-center justify-center gap-4"
            >
              <Button
                href={SITE.APP_URL}
                target="_blank"
                class="w-full sm:w-auto"
              >
                Publish your first post
              </Button>
              <Button
                href={YOUTUBE_WATCH_URL}
                target="_blank"
                variant="secondary"
                class="w-full sm:w-auto"
              >
                Watch Demo
              </Button>
            </div>
          </div>
          <div class="w-full overflow-hidden rounded-[8px] aspect-video">
            <!-- <iframe
                src={YOUTUBE_EMBED_URL}
                title="Marble CMS - Super Simple Headless CMS"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                class="w-full h-full"
              /> -->
            <Image
              src={heroImage}
              inferSize
              alt="marble dashboard showing a chart and list of media files"
              loading="eager"
            />
          </div>
        </Container>
      </div>
    </section>

    <!--  Social Proof -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="py-12">
          <div class="sr-only">
            <h2
              class="relative text-center text-balance text-2xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
            >
              Trusted by
            </h2>
          </div>
          <ul
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 border-t border-l border-dashed"
          >
            {USERS.map((user) => (
              <li class="flex items-center justify-center h-24 border-b border-r border-dashed bg-white hover:bg-gray-50 transition-colors">
                <a href={user.url + "?utm_source=marble"} target="_blank" class={cn("hover:opacity-100 transition-opacity", user.showWordmark && "flex items-center gap-2")}>
                  <user.component class="h-8 w-auto" />
                  {user.showWordmark && (
                    <span class="text-base font-medium">{user.name}</span>
                  )}
                  {!user.showWordmark && (
                    <span class="text-base font-medium sr-only">{user.name}</span>
                  )}
                </a>
              </li>
            ))}
          </ul>
        </Container>
      </div>
    </section>

    <!-- Features section -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="space-y-10 lg:space-y-14 py-20">
          <div
            class="relative flex flex-col items-center space-y-3 text-balance"
          >
            <h2
              class="relative text-center text-balance text-acc text-2xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
            >
              Everything you need to publish.
            </h2>
            <!-- <p class="max-w-prose md:text-lg text-muted-foreground text-center">
              Everything you need to manage your content.
            </p> -->
          </div>

          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-6">
            {FEATURES.map((feature, index) => (
              <li class="bg-white p-3 rounded-[16px] flex flex-col gap-4 h-full">
                <div class="overflow-hidden w-full rounded-lg bg-background">
                  <Image
                    src={feature.image}
                    alt={feature.title}
                    inferSize
                    class="w-full h-auto"
                  />
                </div>
                <div class="flex-1 text-left">
                  <h3 class="text-xl mb-2 font-medium">
                    {feature.title}
                  </h3>
                  <p class="text-muted-foreground text-sm text-balance">
                    {feature.description}
                  </p>
                  {feature.link && (
                    <a href={feature.link.href} target="_blank" class="group text-accent text-sm hover:text-accent/90 hover:underline w-fit mt-4 flex items-center gap-1">
                      {feature.link.text}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 transition-transform group-hover:translate-x-0.5">
                        <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                      </svg>
                    </a>
                  )}
                </div>
              </li>
            ))}
          </ul>
        </Container>
      </div>
    </section>

    <!-- Reviews section -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="space-y-10 lg:space-y-14 pt-12 pb-20">
          <div
            class="relative flex flex-col items-center space-y-3 text-balance"
          >
            <h2
              class="relative text-center text-balance text-2xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
            >
              What people are saying
            </h2>
          </div>

          <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {REVIEWS.map((review) => (
              <li>
                <a href={review.link} target="_blank" class="bg-white p-6 rounded-xl flex flex-col justify-between gap-8 h-full">
                  <p class="text-muted-foreground leading-relaxed">
                    {review.text}
                  </p>
                  <div class="flex items-center gap-3">
                    <div class="size-10 rounded-full bg-gray-100 flex items-center justify-center text-xs font-medium text-gray-500">
                      <Image
                        src={review.avatar}
                        alt={review.author}
                        class="w-full h-auto rounded-full"
                        width={40}
                        height={40}
                      />
                    </div>
                    <div class="space-y-0.5">
                      <p class="font-medium text-sm text-foreground">
                        {review.author}
                      </p>
                      <p class="text-muted-foreground text-xs">
                        {review.role}
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            ))}
          </ul>
        </Container>
      </div>
    </section>

    <!-- Pricing section -->
    <Pricing />

    <!-- FAQ -->
    <section>
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="pt-12 pb-20">
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-20">
            <div
              class="flex flex-col items-center lg:items-start space-y-4 text-center lg:text-left"
            >
              <h2
                class="relative text-center text-balance text-2xl tracking-tight md:text-3xl lg:text-4xl lg:text-left  md max-w-4xl"
              >
                Frequently asked Questions
              </h2>
              <p
                class="max-w-prose md:text-lg text-muted-foreground text-balance"
              >
                Answers to common questions about marblecms.
              </p>
            </div>

            <div class="lg:col-span-2 divide-y divide-dashed">
              {FAQs.map(faq => (
              <AccordionItem name="details" title={faq.question}>
                <p class="text-sm faq-answer text-muted-foreground pb-2" set:html={faq.answer} />
              </AccordionItem>
            ))}
            </div>
          </div>
        </Container>
      </div>
    </section>

    <!-- CTA -->
    <section class="border-b border-dashed">
      <div class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto">
        <Container class="py-12 md:py-20">
          <div class="flex flex-col items-center space-y-6">
            <div class="space-y-4 text-center">
              <h2
                class="relative text-center text-balance text-2xl tracking-tight md:text-3xl lg:text-4xl max-w-4xl"
              >
                Try Marble today.
              </h2>
              <p
                class="mx-auto max-w-2xl text-muted-foreground md:text-lg text-balance"
              >
                A simpler way to publish articles and manage your blog.
              </p>
            </div>

            <div
              class="flex flex-col sm:flex-row w-full items-center justify-center gap-4"
            >
              <Button
                href={SITE.APP_URL}
                target="_blank"
                class="w-full sm:w-auto"
              >
                Try Marble for free
              </Button>
              <Button
                href={YOUTUBE_WATCH_URL}
                variant="secondary"
                class="w-full sm:w-auto"
              >
                Watch Demo
              </Button>
            </div>
          </div>
        </Container>
      </div>
    </section>
  </div>
</Layout>
