---
  import SpeedInsights from "@vercel/speed-insights/astro";
  import BlogHeader from "@/components/BlogHeader.astro";
  import FooterComponent from "@/components/Footer.astro";
  import HeadComponent from "@/components/Head.astro";
  import ScrollToTop from "@/components/ScrollToTop.astro";

  const {
    title,
    description,
    image,
    imageAlt,
    canonical,
    noindex,
    structuredData,
    ogType,
    publishedTime,
    modifiedTime,
    articleAuthors,
  } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <HeadComponent
      title={title}
      description={description}
      image={image}
      imageAlt={imageAlt}
      canonical={canonical}
      noindex={noindex}
      structuredData={structuredData}
      ogType={ogType}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime}
      articleAuthors={articleAuthors}
    />
    <SpeedInsights/>
  </head>
  <body>
    <BlogHeader/>
    <main>
      <slot/>
    </main>
    <FooterComponent/>
    <ScrollToTop/>
  </body>
</html>
